/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Shippori+Mincho&display=swap');

// Colors
$lime-green: #32CD32;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;
$almond: #FFEBCD;
$navy: #191970;

// Base document colors
$navbar-bg: $cream; // navbar
$navbar-fg: $gray; // navbar foreground elements
$navbar-hl: $navy; // highlight color when hovering 
$body-bg: $light-green; // page background 
$body-color: $gray; // page text 
$footer-bg: $cream; // footer 
$link-color: $navy; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $navy; // inline code text color

/*-- scss:rules --*/

h1, h2 {
  letter-spacing: 3px;
  font-weight: 800; 
}

.title {
  color: gray;
  text-align: center;
}

.center-text {
  text-align: center;
}


